.divcenter {
    margin: 0 auto !important;
    text-align: center !important;
}

.textwrap {
    float: right;
    margin: 2rem;
}

.u-margin-bottom-7 {
    margin-bottom: 70px;
}

.u-hr-related {
    overflow: visible;
    /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #ccc;
    color: #252525;
    text-align: center;
    width: 50%;
    margin: 0 auto;

    &::after {
        content: "Related Stories";
        display: inline-block;
        position: relative;
        top: -0.7em;
        padding: 0 0.25em;
        background: $color-white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        text-transform: uppercase;
    }
}