p {
    color: $color-dark;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;

}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-weight: 700;
    color: $color-white;
}

p.letter::first-letter {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4em;
    font-weight: 700;
    margin: 8px;
    float: left;
    line-height: .7em;
}

.h1-article {
    color: $color-blue;
    font-size: 3em;
    text-transform: capitalize;
    text-align: center;

    & h1 {
        margin: 20px 0 40px 0;
    }

    & h2 {
        font-weight: 300;
        font-size: .85em;
        text-transform: uppercase;
        margin: 50px auto;
        border-bottom: 5px solid $color-blue;
        padding-bottom: 20px;
        display: table;
    }
}