#current-issue {
    background-image: url('./assets/blur.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 7rem 0;
    height: auto;
    width: 100%;

    & h1 {
        text-transform: uppercase;
        font-size: 5rem;
        padding-top: 3rem;

    }

    & p {
        color: $color-white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.5rem;
        margin-bottom: 4rem;
    }

}

@media screen and (max-width: 768px) {
    #current-issue h1 {
        font-size: 4rem;
    }
}